<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>Aún no estas convecido? mira mis trabajos!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación que envia correos utilizando la API de Sendgrid.</p>
                <p>Te dejo un link de muestra del sitio, pero por razones obvias debo desactivar el envio de correos.</p>
                <a class="orange" target="_blank" href=https://mailerapp-lucho.herokuapp.com/>Ir a la página</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicación para gestionar mis clientes. Desarrollada con la libreria de TKinter</p>
                <a class="orange" href="{{url_for('static', filename='Gestor_de_Clientes.exe')}} ">Descargar prueba</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar mis tareas. Desarrollada con la libreria de TKinter</p>
                <a class="orange" href="{{url_for('static', filename='Gestor de tareas.exe')}} ">Descargar prueba</a>
            </div>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Todoer</h3>
                <p>Una aplicación que te permite crearte un usuario y loguearte para registrar tus tareas.</p>
                <a class="orange" target="_blank" href=https://todoer-luciano-vidal.herokuapp.com/>Ir a la página</a>
            </div>
            <div class="card third">
                <h3>Juego en Pygame</h3>
                <p>Un video juego creado en equipo.</p>
                <a class="orange" target="_blank" href=https://github.com/Lucho-Vidal/Carrera-Python>Mirá el codigo aquí</a>
            </div>
            <div class="card third">
                <h3>Próximamente más..</h3>

                <!-- <a class="orange" href="{{url_for('static', filename='db.exe')}} ">Descargar Prueba</a> -->
            </div>
        </div>
    </div>
</div>