<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasión aplicaciones y sitios web para personas.</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer. Esta web la construí desde cero con Python y Flask! Y quiero conocer aún más de este mundo.</p>
                <p>Trabajar en planillas de Excel me resultaba insuficiente, fue así como nació mi curiosidad y necesidad. ME ENCONTRÉ CON LA PROGRAMACIÓN. Comencé a programar en Visual Basic for Application principalmente mirando videos por YouTube. Una
                    vez en la Universidad me fui introduciendo aún más en este increíble mundo. Allí aprendí los lenguajes: C, Assembler y Java. Con Java conocí la programación orientada a objetos.</p>
                <p>En segundo año de mi carrera un profesor me motivo a aprender de forma autodidacta el lenguaje Python y construir un videojuego en equipo, implementado GitHub como controlador de versiones. Me comunicó que en esta profesión se debe estar
                    en continuo aprendizaje a pesar de terminar la carrera. Desde entonces adquirí el hábito de buscar cursos en la web para mantenerme en constante aprendizaje.</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar de lo que quieras!</h1>
                <p>Además de la programación me apasionan varias actividades como la aviación, incluso piloteé un avion Cessna 150.✈ La fotografía también es una de mis pasiones, en todos mis viajes va conmigo mi réflex para capturar algún momento especial.
                    📷 </p>
                <p>Sólo envíame un correo <a class="orange" href="#contacto"> pinchando aquí</a> </p>
            </div>
        </div>
    </div>
</div>