<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>¿Aún no estas convencido? ¡mira mis trabajos!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Curso de Excel</h3>
                <p>Pagina web desarrollada con HTML y Bootstrap, explicando algunas funciones.</p>
                <a class="orange" target="_blank" href="https://curso-excel-luvidev.herokuapp.com/">Ir a la página</a>
            </div>
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicación que enviá correos utilizando la API de Sendgrid.</p>
                <p>Te dejo un link de muestra del sitio.</p>
                <a class="orange" target="_blank" href=https://mailerapp-luciano-vidal.herokuapp.com>Ir a la página</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicación para gestionar mis clientes. Desarrollada con la librería de TKinter</p>
                <a class="orange" href="{{url_for('static', filename='Gestor_de_Clientes.exe')}} ">Descargar prueba</a>
            </div>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicación para gestionar mis tareas. Desarrollada con la librería de TKinter</p>
                <a class="orange" href="{{url_for('static', filename='Gestor de tareas.exe')}} ">Descargar prueba</a>
            </div>
            <div class="card third">
                <h3>Todoer</h3>
                <p>Una aplicación que te permite crearte un usuario y loguearte para registrar tus tareas.</p>
                <a class="orange" target="_blank" href=https://todoer-luciano-vidal.herokuapp.com>Ir a la página</a>
            </div>
            <div class="card third">
                <h3>Ping Pong - Juego con Pygame</h3>
                <p>Juego creado para una materia de la Universidad, que me conmemora a mis primeros pasos con los videojuegos</p>
                <a class="orange" target="_blank" href=" {{url_for('static', filename='PingPong.exe')}} "> Descargar aquí </a>
            </div>
        </div>
    </div>
</div>